.body {
  margin-left: 3%;
  margin-right: 3%;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  /* border-style: solid; */
  position: sticky;
}
.header-div {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 60px;
  height: 60px;
  /* margin-left: 5%; */
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* border-style: solid;
  border-color: green; */
  width: 20%;
  list-style: none;
  /* padding-right: 20%; */
  /* margin-right: 5%; */
}
.nav-header a {
  text-decoration: none;
  color: #484551;
}
.nav-header a:hover {
  text-decoration: underline;
  color: #4fa3db;
}

.main {
  /* border-style: solid;
  border-color: brown; */
  margin-top: 10%;
}
.about {
  /* border-style: solid;
  border-color: rgb(165, 42, 128); */
  display: flex;
  justify-content: space-between;
}
.leftAbout {
  /* border-style: solid;
  border-color: red; */
}
.css {
  color: #4fa3db;
}
.btn {
  border-style: solid;
  border-radius: 8%;
  border-color: black;
  background-color: white;
}
.btn:hover {
  border-style: solid;
  border-radius: 8%;
  background-color: #4fa3db;
  color: white;
}
.rightAbout {
  border-style: solid;
  border-color: red;
}
.projects {
  /* border-style: solid;
  border-color: rgb(165, 77, 42); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}
.footer {
  border-style: solid;
  border-color: blue;
}
